@using InchirieriMasini.Utility
@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InchirieriMasini</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/TemaBootsWatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InchirieriMasini.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="mx-4 fs-4" asp-area="Client" asp-controller="Home" asp-action="Index" style="text-decoration:none;"> RentalX </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
            <span class="visually-hidden">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="Client" asp-controller="Home" asp-action="CatalogMasini">Catalog</a>
        </li>
         @if(SignInManager.IsSignedIn(User) && User.IsInRole(StaticData.Role_User)){
        <li class="nav-item">
          <a class="nav-link" asp-area="Client" asp-controller="Home" asp-action="IstoricComenzi">Istoric comenzi</a>
        </li>
        }
        @if(User.IsInRole(StaticData.Role_Manager))
        {
        <li class="nav-item">
          <a class="nav-link" asp-area="Manager" asp-controller="MarcaMasina" asp-action="Index">Marci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="Manager" asp-controller="Masina" asp-action="Index">Masini</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="Manager" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        }
      </ul>
      <div>
        <partial name="_LoginPartial"/>
        </div>
    </div>
  </div>
</nav>
       
    </header>
    <div>
        <main role="main">
            @RenderBody()
            <partial name="_Notifications" />
        </main>
    </div>

<div class="container">
  <footer>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="fs-3"> RentalX </p>
      <p>© 2022 RentalX. All rights reserved.</p>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a  href="#"><svg style="color:black;" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-dark" href="#"><svg  width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-dark" href="#"><svg  width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
    </div>
  </footer>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
