@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-bg-light" style="border:none">
      <img class="img-fluid mb-2" src="~/Imagini/HomePage/header.png" />
      <div class="card-img-overlay row justify-content-start align-items-center">
        <div class="col-6 p-5">
            <h1 class="p-2 text-center header">Cauti masina potrivita nevoilor tale?</h1>
            <p class="p-5 text-center">Verifica disponibilitatile noastre pentru perioada dorita. La noi gasesti cel mai bun raport calitate pret.</p>
        </div>
      </div>  
    </div>


<div class="text-center">
    <p class="fs-6 fw-bold">CUM FUNCTIONEAZA</p>
    <h3>Inchiriaza in 3 pasi simpli</h3>
    <div class="row justify-content-center m-5">
        <div class="col-2">
            <img class="img-fluid mb-2" style="width:60px" src="~/Imagini/HomePage/location.png" />
             <p>Alege unul dintre punctele noastre de ridicare</p>
        </div>
        <div class="col-1">
            <img class="img-fluid" src="~/Imagini/HomePage/design.png" />
        </div>
        <div class="col-2">
             <img class="img-fluid mb-2" style="width:60px" src="~/Imagini/HomePage/bifa.png" />
             <p>Alege perioada de inchiriere</p>
        </div>
        <div class="col-1">
             <img class="img-fluid" src="~/Imagini/HomePage/design2.png" />
        </div>
        <div class="col-2">
             <img class="img-fluid mb-2" style="width:60px" src="~/Imagini/HomePage/car.png" />
             <p class="px-3">Rezerva-ti masina favorita</p>
        </div>
    </div>
</div>


    <div class="card text-bg-light" style="border:none">
      <img class="img-fluid mb-2" src="~/Imagini/HomePage/middle.png" />
      <div class="card-img-overlay row justify-content-end">
        <div class="col-6 p-5">
            <p class="fs-6 ms-2">CELE MAI BUNE SERVICII</p>
            <h3 class="fw-bold p-2">Ia parte la cea mai placuta experienta de inchiriere</h3>
            <p><img class="img-fluid ms-2 my-3 me-4" style="width:40px" src="~/Imagini/HomePage/pricetag.png" />Oferte pentru orice buget</p>
            <p><img class="img-fluid ms-2 my-3 me-4" style="width:40px" src="~/Imagini/HomePage/poket.png" />Cel mai bun pret pe piata</p>
            <p><img class="img-fluid ms-2 my-3 me-4" style="width:40px" src="~/Imagini/HomePage/wheels.png" />Suport 24/7</p>
        </div>
      </div>  
    </div>

<div class="row justify-content-center my-5">
    <div class="col-8 text-center">
    <p class="fs-6 ms-2">CATALOGUL NOSTRU</p>
    <h3 class="fw-bold p-2">Exploreaza acum catalogul nostru de oferte pentru cele mai inchiriate masini</h3>
    </div>
</div>


<div class="row justify-content-center my-5">
    <div class="col-8 text-center">
    <p class="fs-6 ms-2">CE OFERIM</p>
    <h3 class="fw-bold p-2">Ne dorim sa va oferim cea mai buna experienta</h3>
    </div>
</div>

<img class="img-fluid my-3 "src="~/Imagini/HomePage/beneficii.png" />

<div class="card text-bg-light" style="border:none">
      <img class="img-fluid mb-2" src="~/Imagini/HomePage/footer.png" />
      <div class="card-img-overlay row justify-content-between">
        <div class="col-6 p-5 d-flex flex-column justify-content-center align-items-center ">
           <h3 class="text-light my-3 fw-bold">Newsletter</h3>
           <form>
               <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Adresa de email" aria-label="Adresa de email" aria-describedby="button-addon2">
                  <button class="btn btn-outline-light" type="button" id="button-addon2">Button</button>
                </div>
           </form>
        </div>
        <div class="col-6 p-5">
            <h1 class="p-5 text-center mt-5">Siguranta inainte de toate! <br />Condu prudent!</h1>
        </div>
      </div>  
    </div>