@model MarcaMasina

<form method="post" asp-action="Stergere">
    <input asp-for="IdMarca" hidden />
    <div class="border p-3 mr-4">
        <div class="row pb-2">
            <h2 class="text-primary">Sterge Marca</h2>
            <hr />
        </div>
        <div class="mb-3 ">
            <label asp-for="DenumireMarca"></label>
            <input asp-for="DenumireMarca" disabled class="form-control"/>
        </div>
        <div class="mb-3 ">
            <label asp-for="LogoURL"></label>
            <input asp-for="LogoURL" disabled class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Sterge</button>
        <a asp-controller="MarcaMasina" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Inapoi
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}


