<!DOCTYPE HTML>
<html>
<head>
 
</head>
<body>
<div id="chartContainer3" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
</body>
</html>