
<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">
window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainer2", {
		theme: "light2",
		animationEnabled: false,		
		title:{
			text: "Marci inchiriate"
		},
		data: [
		{
			type: "pie",
			dataPoints: [
			{ label: "Volkswagen",  y: 25 },
			{ label: "Hyundai", y: 25 },
			{ label: "Audi", y: 50  }
		]
		}
		]
	});
	chart.render();

}
</script>
</head>
<body>
<div id="chartContainer2" style="height: 300px; width: 100%;"></div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
</body>
</html>