
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height:80vh">
        <h1 class="text-primary text-center">Comanda plasata cu succes!</h1>
        <i style="font-size:8em" class="bi bi-check2-circle text-success"></i>
</div>